<h3><%= @post.title %></h3>

<h3>Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></h3><br>

<h3>Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %></h3>

<%= @post.likes %>

<%= button_to "Like", like_post_path(@post), method: :patch %>